/* Estilos para o rodapé */
footer {
    background-color: black;
    padding: 50px 0;
}

.contato {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

footer .venha-nos-conhecer,
footer .formulario-comq {
    flex-grow: 1;
    margin-left: 20px;
    width: auto;
    box-sizing: border-box;
}

footer .formulario-comq {
    width: 55%;
}

footer .venha-nos-conhecer {
    color: var(--bg-color);
    padding: 50px;
}

footer .venha-nos-conhecer h2 {
    font-weight: 900;
}

footer .venha-nos-conhecer p {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

footer .venha-nos-conhecer ion-icon {
    color: black;
    background-color: var(--amarelo-comq);
    border-radius: 15px;
    padding: 10px;
    margin-right: 10px;
    transition: .2s ease-in-out;
    cursor: pointer;
}

footer .venha-nos-conhecer ion-icon:hover {
    background-color: var(--hoverAmarelo-comq);
}

footer .formulario-comq {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color);
    border-radius: 30px 0 0 30px;
    padding: 50px 25px 50px 80px;
    /* border: 1px solid red; */
    position: relative;
}

.contact-form {
    background-color: var(--bg-color);
    padding: 5px;
    width: 48%;
    border-radius: 10px;
    transition: .2s ease-out;
    z-index: 1;
}

.contact-form label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-form input[type="text"],
.contact-form textarea {
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.contact-form textarea {
    height: 150px;
}

.contact-form input[type="submit"] {
    background-color: #191A23;
    color: #ffffff;
    border: none;
    width: 100%;
    padding: 15px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: .2s ease-in-out;
}

.contact-form input[type="submit"]:hover {
    background-color: #374052;
    color: #F5D7DB;
}

footer .formulario-comq .comq-icon {
    flex-shrink: 0;
    max-width: 40%;
    margin: 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .formulario-comq .comq-icon img {
    max-width: 100%;
    height: auto;
}

.copy-footer {
    margin-top: 5%;
    padding: 1px;
    font-size: 0.7rem;
    text-align: center;
    color: var(--bg-color);
}

@media (max-width: 1000px) {
    .contato {
        flex-direction: column;
        align-items: center;
    }

    footer .venha-nos-conhecer,
    footer .formulario-comq {
        width: 90%;
        margin-bottom: 20px;
        text-align: center;
    }

    footer .formulario-comq {
        flex-direction: column;
        padding: 30px 20px;
        border-radius: 30px;
    }

    .contact-form input[type="text"],
    .contact-form textarea {
        width: 95%;
    }

    .contact-form textarea {
        height: 150px;
    }

    .contact-form input[type="submit"] {
        margin: auto 0;
        width: 100%;
    }

    .formulario {
        margin: 0 auto;
        width: 85%;
    }

    .contact-form {
        width: 100%;
    }

    footer .formulario-comq .comq-icon {
        width: 100%;
        margin-bottom: 5px;
        margin: 0 auto;
    }

    footer .formulario-comq .comq-icon img {
        max-width: 70%;
        height: auto;
    }
}