/* ESTILOS PADRÃO DO SITE. Cor de fundo do site, por exemplo */
@import url('./vars.css');

body, html {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}